In [1]:
import pandas as pd  
import numpy as np
from glob import glob
from scipy.io import savemat, loadmat
from datetime import datetime, timedelta

import pdb
import pymongo
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, Numeric, String, Date
import os
import gzip
from pchipOceanSlices import PchipOceanSlices

from importlib import reload

import visualizeProfs as vp
%config InlineBackend.figure_format = 'retina'
from pchipOceanSlices import PchipOceanSlices

# Init database

In [2]:
sqliteDb = "sqlite:////storage/kakapo/JG_profiles.db"
tableName = "profiles"
conn = create_engine(sqliteDb, echo=False)

conn.execute('''DROP TABLE IF EXISTS {};'''.format(tableName))

In [3]:
try:
    smdf = pd.read_sql_query('SELECT * FROM {} LIMIT 10;'.format(tableName), conn)
except Exception as err:
    print(err)
    pass

In [3]:
dtypes = {"latitude": Numeric(precision=3),
          "longitude": Numeric(precision=3),
          "day": Integer(),
          "month": Integer(),
          "year": Integer(),
          "date": Date(),
          "hr": Integer(),
          "min": Integer(),
          "sec": Integer(),
          "WMO": Integer(),
          "DMODE status": String(length=1),
          "pressure": Numeric(precision=3),
          "temperature": Numeric(precision=3),
          "salinity": Numeric(precision=3),
          "cycle_number": Integer()}

index_label = ["year", "month", "WMO", "profile_id"]

# Get reject list of profiles

In [4]:
rList = glob('/storage/kakapo/*temp*')
wl = glob('/storage/kakapo/*.xml')
header = ['platform_number', 'cycle', 'lat', 'lon', 'c1', 'c2', 'c3', 'c4', 'c5']

def get_lines(filename):
    with open(filename, "r") as f:
        data = f.readlines()
        lines = []
        for line in data: 
            line = ' '.join(line.split())
            line = line.split(' ')
            line[-1] = line[-1].replace('/n', '')
            lines.append(line)
        print(filename)
    return lines

def parse_kakapo(filename, header):
    '''parses reject and white list in kakapo'''
    lines = get_lines(filename)
    df = pd.DataFrame(data=lines, columns=header)
    df['profile_id'] = df['platform_number'].apply(lambda x: str(x)) + '_'  + df['cycle'].apply(lambda x: str(x))
    return df

rejectDf = parse_kakapo(rList[0], header)
whiteList = parse_kakapo(wl[0], header)

/storage/kakapo/reject_cycle_fromvar_temp_01x01_finl
/storage/kakapo/ar_whitelist_2019.xml

In [5]:
print(rejectDf.shape)
rejectDf.head()

(2135, 10)

,platform_number,cycle,lat,lon,c1,c2,c3,c4,c5,profile_id
0,6903190,18,-60.917,304.997,0,2.154,0.257,6.0xtimes1975.0,None,6903190_18
1,5903417,88,-37.717,332.474,1,0.343,0.051,6.0xtimes1975.0,None,5903417_88
2,6901697,81,-37.674,332.432,1,0.551,0.051,6.0xtimes1975.0,None,6901697_81
3,3900529,66,-37.284,285.835,1,0.230,0.038,6.0xtimes1975.0,None,3900529_66
4,5904120,53,-36.369,330.982,1,0.640,0.048,6.0xtimes1975.0,None,5904120_53

In [6]:
ok_ids = whiteList['profile_id'].tolist()

In [7]:
rejectDf = rejectDf[~rejectDf['profile_id'].isin(ok_ids)]
rejectList = rejectDf['profile_id'].tolist()

In [8]:
print(rejectDf.shape)
rejectDf.head()

(1113, 10)

,platform_number,cycle,lat,lon,c1,c2,c3,c4,c5,profile_id
0,6903190,18,-60.917,304.997,0,2.154,0.257,6.0xtimes1975.0,None,6903190_18
1,5903417,88,-37.717,332.474,1,0.343,0.051,6.0xtimes1975.0,None,5903417_88
2,6901697,81,-37.674,332.432,1,0.551,0.051,6.0xtimes1975.0,None,6901697_81
3,3900529,66,-37.284,285.835,1,0.230,0.038,6.0xtimes1975.0,None,3900529_66
4,5904120,53,-36.369,330.982,1,0.640,0.048,6.0xtimes1975.0,None,5904120_53

In [9]:
def create_collection(dbName, collectionName):
    dbUrl = 'mongodb://localhost:27017/'
    client = pymongo.MongoClient(dbUrl)
    db = client[dbName]
    coll = db[collectionName]
    coll = init_profiles_collection(coll)
    return coll    

def init_profiles_collection(coll):
    try:
        coll.create_index([('date', pymongo.DESCENDING)])
        coll.create_index([('dac', pymongo.DESCENDING)])
        coll.create_index([('lat', pymongo.DESCENDING)])
        coll.create_index([('lon', pymongo.DESCENDING)])
    except:
        logging.warning('not able to get collections or set indexes')
    return coll

coll = create_collection('JG', 'profiles')

# Parse data files

In [10]:
files = glob('/storage/kakapo/*_padj.dat.gz')
header = ['latitude', 'longitude', 'day', 'month', 'year', 'hr', 'min',
          'sec', 'pressure', 'temperature', 'potential temperature',
          'salinity', 'DMODE status', 'WMO', 'cycle number', 'original netcdf file']



def get_gzip_lines(filename):
    with gzip.open(filename, "r") as f:
        data = f.readlines()
        lines = []
        for line in data:
            line = line.decode('utf-8')
            line = ' '.join(line.split())
            line = line.split(' ')
            line[-1] = line[-1].replace('/n', '')
            lines.append(line)
    return lines

def make_docs_from_lines(lines, presRange=[0,2000]):
    df = pd.DataFrame(data=lines, columns=header)
    df['profile_id'] = df['WMO'].apply(lambda x: str(x)) + '_'  + df['cycle number'].apply(lambda x: str(x))
    df = df[~df['profile_id'].isin(rejectList)]
    docs = []
    df = df.rename({'latitude': 'lat', 'longitude': 'lon', 'pressure':'pres',
                    'salinity':'psal', 'temperature': 'temp'}, axis=1)
    floatCols = ['lat', 'lon', 'pres', 'temp', 'psal']
    df[floatCols] = df[floatCols].astype(float)
    if presRange:
        df = df[(df['pres'].astype(float) >= presRange[0]) & (df['pres'].astype(float) <= presRange[1])]
    for profile_id, profDf in df.groupby('profile_id'):
        dl = profDf[['year', 'month', 'day']].astype(int).iloc[0]
        date = datetime(*dl)
        doc = {}
        doc['_id'] = profile_id
        doc['lat'] = profDf.lat.iloc[0]
        doc['lon'] = profDf.lon.iloc[0]
        doc['date'] = date
        meas = profDf[['pres', 'temp', 'psal']].to_dict(orient='records')
        if len(meas) == 0:
            continue
        
        doc['measurements'] = meas
        docs.append(doc)
        
    return docs

In [11]:
#coll.drop()
for fdx, filename in enumerate(files):
    lines = get_gzip_lines(filename)
    documents = make_docs_from_lines(lines)
    print('index: {0}, filename: {1} lines: {2}'.format(fdx, filename, len(documents)))
    try:
        coll.insert_many(documents, ordered=False)
    except pymongo.errors.BulkWriteError as bwe:
        writeErrors = bwe.details['writeErrors']
        problem_idx = []
        for we in writeErrors:
            problem_idx.append(we['index'])
        trouble_list = [documents[i] for i in problem_idx]
        for doc in trouble_list:
            coll.replace_one({'_id': doc['_id']}, doc, upsert=True)

index: 0, filename: /storage/kakapo/200401_padj.dat.gz lines: 1787
index: 1, filename: /storage/kakapo/200402_padj.dat.gz lines: 1707
index: 2, filename: /storage/kakapo/200403_padj.dat.gz lines: 1914
index: 3, filename: /storage/kakapo/200404_padj.dat.gz lines: 1875
index: 4, filename: /storage/kakapo/200405_padj.dat.gz lines: 2062
index: 5, filename: /storage/kakapo/200406_padj.dat.gz lines: 2009
index: 6, filename: /storage/kakapo/200407_padj.dat.gz lines: 2063
index: 7, filename: /storage/kakapo/200408_padj.dat.gz lines: 2179
index: 8, filename: /storage/kakapo/200409_padj.dat.gz lines: 2340
index: 9, filename: /storage/kakapo/200410_padj.dat.gz lines: 2527
index: 10, filename: /storage/kakapo/200411_padj.dat.gz lines: 2489
index: 11, filename: /storage/kakapo/200412_padj.dat.gz lines: 2701
index: 12, filename: /storage/kakapo/200501_padj.dat.gz lines: 2811
index: 13, filename: /storage/kakapo/200502_padj.dat.gz lines: 2660
index: 14, filename: /storage/kakapo/200503_padj.dat.gz lines: 3026
index: 15, filename: /storage/kakapo/200504_padj.dat.gz lines: 3042
index: 16, filename: /storage/kakapo/200505_padj.dat.gz lines: 3410
index: 17, filename: /storage/kakapo/200506_padj.dat.gz lines: 3552
index: 18, filename: /storage/kakapo/200507_padj.dat.gz lines: 3789
index: 19, filename: /storage/kakapo/200508_padj.dat.gz lines: 3801
index: 20, filename: /storage/kakapo/200509_padj.dat.gz lines: 3726
index: 21, filename: /storage/kakapo/200510_padj.dat.gz lines: 4153
index: 22, filename: /storage/kakapo/200511_padj.dat.gz lines: 4246
index: 23, filename: /storage/kakapo/200512_padj.dat.gz lines: 4563
index: 24, filename: /storage/kakapo/200601_padj.dat.gz lines: 4722
index: 25, filename: /storage/kakapo/200602_padj.dat.gz lines: 4556
index: 26, filename: /storage/kakapo/200603_padj.dat.gz lines: 5103
index: 27, filename: /storage/kakapo/200604_padj.dat.gz lines: 4935
index: 28, filename: /storage/kakapo/200605_padj.dat.gz lines: 5090
index: 29, filename: /storage/kakapo/200606_padj.dat.gz lines: 5025
index: 30, filename: /storage/kakapo/200607_padj.dat.gz lines: 5256
index: 31, filename: /storage/kakapo/200608_padj.dat.gz lines: 5314
index: 32, filename: /storage/kakapo/200609_padj.dat.gz lines: 5358
index: 33, filename: /storage/kakapo/200610_padj.dat.gz lines: 5871
index: 34, filename: /storage/kakapo/200611_padj.dat.gz lines: 6050
index: 35, filename: /storage/kakapo/200612_padj.dat.gz lines: 6356
index: 36, filename: /storage/kakapo/200701_padj.dat.gz lines: 6473
index: 37, filename: /storage/kakapo/200702_padj.dat.gz lines: 5920
index: 38, filename: /storage/kakapo/200703_padj.dat.gz lines: 6617
index: 39, filename: /storage/kakapo/200704_padj.dat.gz lines: 6288
index: 40, filename: /storage/kakapo/200705_padj.dat.gz lines: 6535
index: 41, filename: /storage/kakapo/200706_padj.dat.gz lines: 6283
index: 42, filename: /storage/kakapo/200707_padj.dat.gz lines: 6600
index: 43, filename: /storage/kakapo/200708_padj.dat.gz lines: 6553
index: 44, filename: /storage/kakapo/200709_padj.dat.gz lines: 6426
index: 45, filename: /storage/kakapo/200710_padj.dat.gz lines: 6841
index: 46, filename: /storage/kakapo/200711_padj.dat.gz lines: 6783
index: 47, filename: /storage/kakapo/200712_padj.dat.gz lines: 7122
index: 48, filename: /storage/kakapo/200801_padj.dat.gz lines: 7112
index: 49, filename: /storage/kakapo/200802_padj.dat.gz lines: 6851
index: 50, filename: /storage/kakapo/200803_padj.dat.gz lines: 7447
index: 51, filename: /storage/kakapo/200804_padj.dat.gz lines: 7313
index: 52, filename: /storage/kakapo/200805_padj.dat.gz lines: 7583
index: 53, filename: /storage/kakapo/200806_padj.dat.gz lines: 7414
index: 54, filename: /storage/kakapo/200807_padj.dat.gz lines: 7651
index: 55, filename: /storage/kakapo/200808_padj.dat.gz lines: 7532
index: 56, filename: /storage/kakapo/200809_padj.dat.gz lines: 7368
index: 57, filename: /storage/kakapo/200810_padj.dat.gz lines: 7681
index: 58, filename: /storage/kakapo/200811_padj.dat.gz lines: 7711
index: 59, filename: /storage/kakapo/200812_padj.dat.gz lines: 8261
index: 60, filename: /storage/kakapo/200901_padj.dat.gz lines: 8071
index: 61, filename: /storage/kakapo/200902_padj.dat.gz lines: 7259
index: 62, filename: /storage/kakapo/200903_padj.dat.gz lines: 8047
index: 63, filename: /storage/kakapo/200904_padj.dat.gz lines: 7806
index: 64, filename: /storage/kakapo/200905_padj.dat.gz lines: 8077
index: 65, filename: /storage/kakapo/200906_padj.dat.gz lines: 7712
index: 66, filename: /storage/kakapo/200907_padj.dat.gz lines: 7934
index: 67, filename: /storage/kakapo/200908_padj.dat.gz lines: 7753
index: 68, filename: /storage/kakapo/200909_padj.dat.gz lines: 7414
index: 69, filename: /storage/kakapo/200910_padj.dat.gz lines: 7573
index: 70, filename: /storage/kakapo/200911_padj.dat.gz lines: 7277
index: 71, filename: /storage/kakapo/200912_padj.dat.gz lines: 7633
index: 72, filename: /storage/kakapo/201001_padj.dat.gz lines: 7748
index: 73, filename: /storage/kakapo/201002_padj.dat.gz lines: 7142
index: 74, filename: /storage/kakapo/201003_padj.dat.gz lines: 7932
index: 75, filename: /storage/kakapo/201004_padj.dat.gz lines: 7591
index: 76, filename: /storage/kakapo/201005_padj.dat.gz lines: 7891
index: 77, filename: /storage/kakapo/201006_padj.dat.gz lines: 7682
index: 78, filename: /storage/kakapo/201007_padj.dat.gz lines: 7945
index: 79, filename: /storage/kakapo/201008_padj.dat.gz lines: 7721
index: 80, filename: /storage/kakapo/201009_padj.dat.gz lines: 7511
index: 81, filename: /storage/kakapo/201010_padj.dat.gz lines: 7754
index: 82, filename: /storage/kakapo/201011_padj.dat.gz lines: 7748
index: 83, filename: /storage/kakapo/201012_padj.dat.gz lines: 8332
index: 84, filename: /storage/kakapo/201101_padj.dat.gz lines: 8216
index: 85, filename: /storage/kakapo/201102_padj.dat.gz lines: 7477
index: 86, filename: /storage/kakapo/201103_padj.dat.gz lines: 8495
index: 87, filename: /storage/kakapo/201104_padj.dat.gz lines: 8389
index: 88, filename: /storage/kakapo/201105_padj.dat.gz lines: 8616
index: 89, filename: /storage/kakapo/201106_padj.dat.gz lines: 8234
index: 90, filename: /storage/kakapo/201107_padj.dat.gz lines: 8574
index: 91, filename: /storage/kakapo/201108_padj.dat.gz lines: 8857
index: 92, filename: /storage/kakapo/201109_padj.dat.gz lines: 8856
index: 93, filename: /storage/kakapo/201110_padj.dat.gz lines: 9347
index: 94, filename: /storage/kakapo/201111_padj.dat.gz lines: 9216
index: 95, filename: /storage/kakapo/201112_padj.dat.gz lines: 9687
index: 96, filename: /storage/kakapo/201201_padj.dat.gz lines: 9724
index: 97, filename: /storage/kakapo/201202_padj.dat.gz lines: 9087
index: 98, filename: /storage/kakapo/201203_padj.dat.gz lines: 9924
index: 99, filename: /storage/kakapo/201204_padj.dat.gz lines: 9521
index: 100, filename: /storage/kakapo/201205_padj.dat.gz lines: 9771
index: 101, filename: /storage/kakapo/201206_padj.dat.gz lines: 9431
index: 102, filename: /storage/kakapo/201207_padj.dat.gz lines: 9870
index: 103, filename: /storage/kakapo/201208_padj.dat.gz lines: 10049
index: 104, filename: /storage/kakapo/201209_padj.dat.gz lines: 10169
index: 105, filename: /storage/kakapo/201210_padj.dat.gz lines: 10585
index: 106, filename: /storage/kakapo/201211_padj.dat.gz lines: 10427
index: 107, filename: /storage/kakapo/201212_padj.dat.gz lines: 10742
index: 108, filename: /storage/kakapo/201301_padj.dat.gz lines: 10578
index: 109, filename: /storage/kakapo/201302_padj.dat.gz lines: 9565
index: 110, filename: /storage/kakapo/201303_padj.dat.gz lines: 10698
index: 111, filename: /storage/kakapo/201304_padj.dat.gz lines: 10298
index: 112, filename: /storage/kakapo/201305_padj.dat.gz lines: 10361
index: 113, filename: /storage/kakapo/201306_padj.dat.gz lines: 10055
index: 114, filename: /storage/kakapo/201307_padj.dat.gz lines: 10370
index: 115, filename: /storage/kakapo/201308_padj.dat.gz lines: 10540
index: 116, filename: /storage/kakapo/201309_padj.dat.gz lines: 10156
index: 117, filename: /storage/kakapo/201310_padj.dat.gz lines: 10427
index: 118, filename: /storage/kakapo/201311_padj.dat.gz lines: 10067
index: 119, filename: /storage/kakapo/201312_padj.dat.gz lines: 10689
index: 120, filename: /storage/kakapo/201401_padj.dat.gz lines: 10782

index: 121, filename: /storage/kakapo/201402_padj.dat.gz lines: 10111
index: 122, filename: /storage/kakapo/201403_padj.dat.gz lines: 11188
index: 123, filename: /storage/kakapo/201404_padj.dat.gz lines: 11076
index: 124, filename: /storage/kakapo/201405_padj.dat.gz lines: 11399
index: 125, filename: /storage/kakapo/201406_padj.dat.gz lines: 11033
index: 126, filename: /storage/kakapo/201407_padj.dat.gz lines: 11431
index: 127, filename: /storage/kakapo/201408_padj.dat.gz lines: 11358
index: 128, filename: /storage/kakapo/201409_padj.dat.gz lines: 10888
index: 129, filename: /storage/kakapo/201410_padj.dat.gz lines: 11121
index: 130, filename: /storage/kakapo/201411_padj.dat.gz lines: 10910
index: 131, filename: /storage/kakapo/201412_padj.dat.gz lines: 11551
index: 132, filename: /storage/kakapo/201501_padj.dat.gz lines: 11853
index: 133, filename: /storage/kakapo/201502_padj.dat.gz lines: 10736
index: 134, filename: /storage/kakapo/201503_padj.dat.gz lines: 11701
index: 135, filename: /storage/kakapo/201504_padj.dat.gz lines: 11478
index: 136, filename: /storage/kakapo/201505_padj.dat.gz lines: 12241
index: 137, filename: /storage/kakapo/201506_padj.dat.gz lines: 11407
index: 138, filename: /storage/kakapo/201507_padj.dat.gz lines: 12013
index: 139, filename: /storage/kakapo/201508_padj.dat.gz lines: 11764
index: 140, filename: /storage/kakapo/201509_padj.dat.gz lines: 11570
index: 141, filename: /storage/kakapo/201510_padj.dat.gz lines: 12087
index: 142, filename: /storage/kakapo/201511_padj.dat.gz lines: 11889
index: 143, filename: /storage/kakapo/201512_padj.dat.gz lines: 12368
index: 144, filename: /storage/kakapo/201601_padj.dat.gz lines: 12502
index: 145, filename: /storage/kakapo/201602_padj.dat.gz lines: 11628
index: 146, filename: /storage/kakapo/201603_padj.dat.gz lines: 12370
index: 147, filename: /storage/kakapo/201604_padj.dat.gz lines: 11884
index: 148, filename: /storage/kakapo/201605_padj.dat.gz lines: 12337
index: 149, filename: /storage/kakapo/201606_padj.dat.gz lines: 11725
index: 150, filename: /storage/kakapo/201607_padj.dat.gz lines: 12080
index: 151, filename: /storage/kakapo/201608_padj.dat.gz lines: 11846
index: 152, filename: /storage/kakapo/201609_padj.dat.gz lines: 11424
index: 153, filename: /storage/kakapo/201610_padj.dat.gz lines: 12022
index: 154, filename: /storage/kakapo/201611_padj.dat.gz lines: 11516
index: 155, filename: /storage/kakapo/201612_padj.dat.gz lines: 11963
index: 156, filename: /storage/kakapo/201701_padj.dat.gz lines: 11949
index: 157, filename: /storage/kakapo/201702_padj.dat.gz lines: 10707
index: 158, filename: /storage/kakapo/201703_padj.dat.gz lines: 11784
index: 159, filename: /storage/kakapo/201704_padj.dat.gz lines: 11417
index: 160, filename: /storage/kakapo/201705_padj.dat.gz lines: 11522
index: 161, filename: /storage/kakapo/201706_padj.dat.gz lines: 10795
index: 162, filename: /storage/kakapo/201707_padj.dat.gz lines: 11071
index: 163, filename: /storage/kakapo/201708_padj.dat.gz lines: 11283
index: 164, filename: /storage/kakapo/201709_padj.dat.gz lines: 11012
index: 165, filename: /storage/kakapo/201710_padj.dat.gz lines: 11451
index: 166, filename: /storage/kakapo/201711_padj.dat.gz lines: 11177
index: 167, filename: /storage/kakapo/201712_padj.dat.gz lines: 11499
index: 168, filename: /storage/kakapo/201801_padj.dat.gz lines: 11332
index: 169, filename: /storage/kakapo/201802_padj.dat.gz lines: 10350
index: 170, filename: /storage/kakapo/201803_padj.dat.gz lines: 11504
index: 171, filename: /storage/kakapo/201804_padj.dat.gz lines: 11079
index: 172, filename: /storage/kakapo/201805_padj.dat.gz lines: 11231
index: 173, filename: /storage/kakapo/201806_padj.dat.gz lines: 10763
index: 174, filename: /storage/kakapo/201807_padj.dat.gz lines: 11157
index: 175, filename: /storage/kakapo/201808_padj.dat.gz lines: 11362
index: 176, filename: /storage/kakapo/201809_padj.dat.gz lines: 10940
index: 177, filename: /storage/kakapo/201810_padj.dat.gz lines: 11043
index: 178, filename: /storage/kakapo/201811_padj.dat.gz lines: 10666
index: 179, filename: /storage/kakapo/201812_padj.dat.gz lines: 10689
index: 180, filename: /storage/kakapo/201901_padj.dat.gz lines: 10640
index: 181, filename: /storage/kakapo/201902_padj.dat.gz lines: 9742
index: 182, filename: /storage/kakapo/201903_padj.dat.gz lines: 10366
index: 183, filename: /storage/kakapo/201904_padj.dat.gz lines: 10100
index: 184, filename: /storage/kakapo/201905_padj.dat.gz lines: 9813
index: 185, filename: /storage/kakapo/201906_padj.dat.gz lines: 9896
index: 186, filename: /storage/kakapo/201907_padj.dat.gz lines: 9894

# Interpolate

In [6]:
pc = PchipOceanSlices([10,20])
cursor = coll.find().batch_size(1000)
xintp = 10
tdx = 0
profiles = []
for profile in cursor:
    #interpolate profile
    profiles.append(profile)
    if len(profiles) > 25000:
        iTempDf = pc.make_interpolated_df(profiles, xintp, xLab='pres', yLab='temp')
        pc.saveIDF(iTempDf, 'JG-profiles-10.csv', tdx)
        tdx += 1
        profiles=[]

In [12]:
x_dup_idx = unique_idxs(x)

In [13]:
x_dup_idx

[0, 2]

In [15]:
xu = [x[idx] for idx in x_dup_idx]

In [16]:
xu

[9.0, 13.0]

{'_id': '5900038_38',
 'lat': -33.339,
 'lon': 111.249,
 'date': datetime.datetime(2004, 2, 8, 0, 0),
 'measurements': [{'pres': 5.7, 'temp': 19.543, 'psal': 35.767},
  {'pres': 10.9, 'temp': 19.513, 'psal': 35.902}]}

In [10]:



#conn.execute('''DROP TABLE IF EXISTS {};'''.format(tableName))
for fdx, filename in enumerate(files):
    if fdx <= 158:
        continue
    lines = get_gzip_lines(filename)
    df = pd.DataFrame(data=lines, columns=header)
    df['profile_id'] = df['WMO'].apply(lambda x: str(x)) + '_'  + df['cycle number'].apply(lambda x: str(x))
    dllist = df[['year', 'month', 'day', 'hr']].astype(int).values.tolist()
    dateList = [datetime(*dl) for dl in dllist]
    df['date'] = dateList
    df = df[~df['profile_id'].isin(rejectList)]
    print('index: {0}, filename: {1} lines: {2}, dfLen: {3}'.format(fdx, filename, len(lines), df.shape[0]))
    df.to_sql(tableName, con=conn, index=False, if_exists='append', dtype=dtypes, index_label=index_label)

index: 159, filename: /storage/kakapo/201704_padj.dat.gz lines: 5307015, dfLen: 5304828
index: 160, filename: /storage/kakapo/201705_padj.dat.gz lines: 5438359, dfLen: 5437042
index: 161, filename: /storage/kakapo/201706_padj.dat.gz lines: 5125342, dfLen: 5124233
index: 162, filename: /storage/kakapo/201707_padj.dat.gz lines: 5319867, dfLen: 5318640
index: 163, filename: /storage/kakapo/201708_padj.dat.gz lines: 5444536, dfLen: 5442363
index: 164, filename: /storage/kakapo/201709_padj.dat.gz lines: 5322740, dfLen: 5319026
index: 165, filename: /storage/kakapo/201710_padj.dat.gz lines: 5644258, dfLen: 5642081
index: 166, filename: /storage/kakapo/201711_padj.dat.gz lines: 5572708, dfLen: 5565489
index: 167, filename: /storage/kakapo/201712_padj.dat.gz lines: 5797202, dfLen: 5791986
index: 168, filename: /storage/kakapo/201801_padj.dat.gz lines: 5735981, dfLen: 5734770
index: 169, filename: /storage/kakapo/201802_padj.dat.gz lines: 5257042, dfLen: 5253413
index: 170, filename: /storage/kakapo/201803_padj.dat.gz lines: 5830217, dfLen: 5828642
index: 171, filename: /storage/kakapo/201804_padj.dat.gz lines: 5719490, dfLen: 5716480
index: 172, filename: /storage/kakapo/201805_padj.dat.gz lines: 5764049, dfLen: 5763085
index: 173, filename: /storage/kakapo/201806_padj.dat.gz lines: 5509995, dfLen: 5505202
index: 174, filename: /storage/kakapo/201807_padj.dat.gz lines: 5779490, dfLen: 5775762
index: 175, filename: /storage/kakapo/201808_padj.dat.gz lines: 5916521, dfLen: 5912188
index: 176, filename: /storage/kakapo/201809_padj.dat.gz lines: 5780224, dfLen: 5777980
index: 177, filename: /storage/kakapo/201810_padj.dat.gz lines: 5912243, dfLen: 5909992
index: 178, filename: /storage/kakapo/201811_padj.dat.gz lines: 5711369, dfLen: 5709396
index: 179, filename: /storage/kakapo/201812_padj.dat.gz lines: 5738515, dfLen: 5737214
index: 180, filename: /storage/kakapo/201901_padj.dat.gz lines: 5734964, dfLen: 5730765
index: 181, filename: /storage/kakapo/201902_padj.dat.gz lines: 5293581, dfLen: 5291963
index: 182, filename: /storage/kakapo/201903_padj.dat.gz lines: 5705821, dfLen: 5704705
index: 183, filename: /storage/kakapo/201904_padj.dat.gz lines: 5608106, dfLen: 5608106
index: 184, filename: /storage/kakapo/201905_padj.dat.gz lines: 5615939, dfLen: 5615939
index: 185, filename: /storage/kakapo/201906_padj.dat.gz lines: 5665038, dfLen: 5665038
index: 186, filename: /storage/kakapo/201907_padj.dat.gz lines: 5754816, dfLen: 5754237

# Querying

In [11]:
df[['year', 'month', 'day', 'hr', 'min']].astype(int).values.tolist()[0]

Exception ignored in: <function WeakKeyDictionary.__init__.<locals>.remove at 0x7f23284eb7b8>
Traceback (most recent call last):
  File "/home/tyler/anaconda3/envs/argo/lib/python3.6/weakref.py", line 356, in remove
    def remove(k, selfref=ref(self)):
KeyboardInterrupt

[2019, 7, 7, 7, 41]

In [12]:
profile_ids = pd.read_sql_query(
    '''
    SELECT DISTINCT profile_id FROM {};
    '''.format(tableName), conn)

In [13]:
print(profile_ids.shape)
profile_ids.head()

(1588159, 1)

   profile_id
0  1900022_67
1  1900022_68
2  1900022_69
3  1900037_76
4  1900037_77

In [14]:
cursor = conn.execute('''SELECT COUNT(*) FROM {};'''.format(tableName))

In [15]:
cursor.fetchall()

[(452563449,)]

In [16]:
cursor = conn.execute(
    '''SELECT sql 
FROM sqlite_master 
WHERE name = '{}';
'''.format(tableName))

In [18]:
cursor.fetchall()

[('CREATE TABLE profiles (\n\tlatitude NUMERIC(3), \n\tlongitude NUMERIC(3), \n\tday INTEGER, \n\tmonth INTEGER, \n\tyear INTEGER, \n\thr INTEGER, \n\tm ... (137 characters truncated) ... 3), \n\t"DMODE status" VARCHAR(1), \n\t"WMO" INTEGER, \n\t"cycle number" TEXT, \n\t"original netcdf file" TEXT, \n\tprofile_id TEXT, \n\tdate DATE\n)',)]

In [27]:
cursor = conn.execute('''CREATE INDEX idx_contacts_name 
ON {0} (profile_id);'''.format(tableName))

OperationalError: (sqlite3.OperationalError) database or disk is full
[SQL: CREATE INDEX idx_contacts_name
ON profiles (profile_id);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [24]:
cursor.fetchall()

[]

In [129]:
profile_ids[~profile_ids['profile_id'].isin(rejectList)]

      profile_id
0     1900022_67
1     1900022_68
2     1900022_69
3     1900037_76
4     1900037_77
5     1900037_78
6     1900039_76
7     1900039_77
8     1900039_78
9     1900040_76
10    1900040_77
11    1900040_78
12    1900041_67
13    1900041_68
14    1900041_69
15    1900042_39
16    1900042_40
17    1900042_41
18    1900043_39
19    1900043_40
20    1900043_41
21    1900044_39
22    1900044_40
23    1900044_41
24    1900045_39
25    1900045_40
26    1900045_41
27    1900047_39
28    1900047_40
29    1900047_41
...          ...
1757  4900411_11
1758  4900411_12
1759   4900412_6
1760   4900412_7
1761   4900412_8
1762   4900413_4
1763   4900413_5
1764   4900413_6
1765  4900415_10
1766  4900415_11
1767  4900415_12
1768  4900416_10
1769  4900416_11
1770  4900416_12
1771  4900417_10
1772  4900417_11
1773  4900417_12
1774  4900419_10
1775  4900419_11
1776  4900419_12
1777   4900420_6
1778   4900420_7
1779   4900420_8
1780  4900422_16
1781  4900422_17
1782  4900422_18
1783  4900423_17
1784  4900423_18
1785  4900423_19
1786  4900423_20

[1787 rows x 1 columns]

In [56]:
smdf = pd.read_sql_query(
    '''
    SELECT * FROM {} 
    WHERE year = 2004
    AND month = 1
    AND pressure BETWEEN 5 AND 15;
    '''.format(tableName), conn)

In [77]:
smdf = smdf[['latitude', 'longitude', 'day', 'month', 'year', 'hr', 'min', 'sec', 'pressure', 'temperature', 'profile_id']]
smdf.head()

,latitude,longitude,day,month,year,hr,min,sec,pressure,temperature,profile_id
0,24.393,298.670,3,1,2004,15,52,26,10.0,25.408,1900022_67
1,24.630,298.537,13,1,2004,16,1,30,10.0,24.904,1900022_68
2,24.853,297.923,23,1,2004,16,40,40,10.0,24.608,1900022_69
3,31.505,329.864,19,1,2004,11,24,51,10.0,20.552,1900037_77
4,32.704,311.464,10,1,2004,6,52,37,10.0,20.736,1900039_76

In [114]:
profiles = []
for profile_id, df in smdf.groupby('profile_id'):
    p = {}
    dl = df[['year', 'month', 'day', 'hr', 'min']].iloc[0].tolist()
    dt = datetime(*dl)
    p['date'] = dt
    p['profile_id'] = profile_id
    p['lat'] = df['latitude'].iloc[0]
    p['lon'] = df['longitude'].iloc[0]
    meas = df[['pressure', 'temperature']]
    meas = meas.rename({'pressure':'pres', 'temperature': 'temp'}, axis=1)
    p['measurements'] = meas.to_dict(orient='records')
    profiles.append(p)

In [112]:
dl = df[['year', 'month', 'day', 'hr', 'min']].iloc[0].tolist()
print(dl)
dt = datetime(*dl)
print(dt)

[2004, 1, 30, 12, 15]
2004-01-30 12:15:00

In [107]:
meas = df[['pressure', 'temperature']]
meas = meas.rename({'pressure':'pres', 'temperature': 'temp'}, axis=1)
meas.to_dict(orient='records')

[{'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314},
 {'pres': 5.0, 'temp': 0.314}]

In [86]:
len(smdf.pressure.unique())

113

In [88]:
np.sort(smdf.pressure.unique())

array([ 5.   ,  5.1  ,  5.2  ,  5.3  ,  5.4  ,  5.5  ,  5.6  ,  5.7  ,
        5.8  ,  5.9  ,  6.   ,  6.1  ,  6.2  ,  6.3  ,  6.4  ,  6.425,
        6.5  ,  6.58 ,  6.6  ,  6.7  ,  6.8  ,  6.9  ,  7.   ,  7.1  ,
        7.14 ,  7.2  ,  7.3  ,  7.4  ,  7.5  ,  7.6  ,  7.65 ,  7.7  ,
        7.8  ,  7.84 ,  7.9  ,  8.   ,  8.1  ,  8.2  ,  8.3  ,  8.4  ,
        8.5  ,  8.6  ,  8.7  ,  8.8  ,  8.9  ,  8.96 ,  9.   ,  9.1  ,
        9.2  ,  9.225,  9.3  ,  9.32 ,  9.4  ,  9.5  ,  9.533,  9.6  ,
        9.7  ,  9.733,  9.8  ,  9.9  , 10.   , 10.1  , 10.2  , 10.3  ,
       10.4  , 10.5  , 10.6  , 10.7  , 10.8  , 10.825, 10.9  , 11.   ,
       11.1  , 11.2  , 11.3  , 11.4  , 11.5  , 11.6  , 11.7  , 11.8  ,
       11.9  , 12.   , 12.1  , 12.2  , 12.3  , 12.4  , 12.45 , 12.5  ,
       12.6  , 12.7  , 12.8  , 12.9  , 13.   , 13.1  , 13.2  , 13.3  ,
       13.4  , 13.5  , 13.6  , 13.7  , 13.8  , 13.9  , 14.   , 14.1  ,
       14.2  , 14.3  , 14.4  , 14.5  , 14.6  , 14.7  , 14.8  , 14.9  ,
       15.   ])